* {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin: 40px auto 20px auto;
  border-bottom: 1px solid black;
}

header,
.board-section {
  width: 90%;
}

.board-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
  margin: auto;
}

.result .titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 30px 0;
}

.btn {
  height: 30px;
  box-shadow: 4px 2px 0 0 black;
}

.refresh {
  margin: 30px 0;
}

.score-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 50px;
}

.score-form form input {
  height: 35px;
  border: 4px solid black;
  color: black;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
}

.submit-form {
  justify-self: end;
}

.scores-list {
  padding: 0;
  list-style-type: none;
  border: 4px solid black;
  width: 100%;
  max-height: 390px;
  overflow-y: auto;
}

.scores-list li {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 20px;
}

.scores-list p {
  font-size: 18px;
  font-weight: 700;
}

.scores-list li:nth-child(2n) {
  background-color: #eae8e8;
}

.no-data-found {
  text-align: center;
}
